<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rex.lightmeter"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature android:name="android.hardware.sensor.light" />

    <application
        android:name=".RexApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ActivityFirst"
            android:configChanges="keyboardHidden|orientation|keyboard|uiMode"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityMain"
            android:configChanges="keyboardHidden|keyboard|uiMode"></activity>
        <activity
            android:name=".ActivityAbout"
            android:configChanges="keyboardHidden|orientation|keyboard|uiMode"
            android:parentActivityName=".ActivityMain">
            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rex.lightmeter.ActivityMain" />
        </activity>
        <activity
            android:name=".ActivitySettings"
            android:configChanges="keyboardHidden|orientation|keyboard|uiMode"
            android:parentActivityName=".ActivityMain">
            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rex.lightmeter.ActivityMain" />
        </activity>
    </application>

</manifest>
